p {
  padding: 0px;
  margin:0px;
}
.app-wrapper {
  margin: 0 auto;
  max-width: 960px;
  background: #F3F7FA;
}

.app-logo {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 40px;
}

.app-content-flex {
  margin: 0 100px;
  display: flex;
  align-items: flex-start;
}

.content-filter {
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.content-filter-title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #4A4A4A;
}
.content-tabs {
  margin-left: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.content-tabs #cheap {
  padding: 15px 55px;
  background: #2196F3;
  border: 1px solid #2196F3;
  border-radius: 5px 0 0 5px;
  box-sizing: border-box;
  color: #FFFFFF;
}
.content-tabs #fast {
  padding: 15px 55px;
  background: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #DFE5EC;
  box-sizing: border-box;
  border-radius: 0 5px 5px 0;
}

.content-ticket {
  margin: 20px 0 20px 20px;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.ticket-header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticket-cost {
  padding: 25px 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #2196F3;
}

.ticket-company {
  padding: 20px 50px;
}

.ticket-info-flex {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.ticket-info-period, .ticket-info-duration, .ticket-info-transfer {
  padding: 0 20px;
  padding-bottom: 10px;
  width: 24%;
}

.ticket-info-title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #A0B0B9;
}

.ticket-info-value {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #4A4A4A;
}